<!DOCTYPE html>
<html>
  <%= partial :head_blog %>
  <body>
    <%= partial :header %>

    <section class="blog">
      <div class="content container">
      <% if current_article %>
        <h2>
          <span><%= current_article.date.strftime('%Y年%m月%d日') %></span><br />
          <%= link_to current_article.title, current_article %>
        </h2>
      <% end %>
      <%= yield %>
      </div>
    </section>

    <section class="main style3 secondary blog-menu">
      <div class="content container">
        <div class="box container small left">
          <h4>新しい<%= ruby('記事', 'きじ') %></h4>

          <ol class="default">
            <% blog.articles[0...10].each do |article| %>
            <li>
              <%= link_to article.title, article %> <span><%= article.date.strftime('%Y年%m月%d日') %></span>
            </li>
            <% end %>
          </ol>

          <h4>タグ<%= ruby('一覧', 'いちらん') %></h4>

          <ol class="default">
            <% blog.tags.each do |tag, articles| %>
            <li><%= link_to "#{tag} (#{articles.size})", tag_path(tag) %></li>
            <% end %>
          </ol>

          <h4>古い<%= ruby('記事', 'きじ') %></h4>

          <ol class="default">
            <% blog.articles.group_by {|a| a.date.year }.each do |year, articles| %>
            <li><%= link_to "#{year} (#{articles.size})", blog_year_path(year) %></li>
            <% end %>
          </ol>
        </div>
      </div>
    </section>

    <%= partial :footer %>
  </body>
</html>
