---
title: １０月２５日（土）に第１回コーダー道場松江を開催しました♪
date: 2014-10-25
tags: event
---

<p>みなさんこんにちは、<%=r 'Ruby', 'ルビー' %>プログラミング<%=r '少年団', 'しょうねんだん' %>の<%=r '本多', 'ほんだ' %>です。</p>

<p>１０月２５日（土）の１３：３０ー１６：３０に、１回目となるコーダー<%=r '道場', 'どうじょう' %><%=r '松江', 'まつえ' %> を <%=r '松江', 'まつえ' %>オープンソースラボでやりました。</p>

[http://smalruby.doorkeeper.jp/events/15973](http://smalruby.doorkeeper.jp/events/15973)

![](/files/blog/2014-10-25-coderdojo/20141025_072506287_iOS.jpg)

READMORE

<p><%=r '今回', 'こんかい' %>は６人が<%=r '参加', 'さんか' %>してくれました。ありがとうございました。</p>

<p><%=r '今回', 'こんかい' %>のテーマは、「シューティングゲームを作ってみよう」でした。こうじさんがキャラクターを<%=r '好', 'す' %>きな<%=r '画像', 'がぞう' %>にかえる<%=r '裏技', 'うらわざ' %>を教えてくれたので、お気に入りのキャラクターがゲームに出てきて、みんなたのしそうでした♪</p>

<p>シューティングゲームのほかに、ニンジャのアニメーションを作ったり、ピンポンゲームで<%=r '変化球', 'へんかきゅう' %>を打てるように<%=r '改造', 'かいぞう' %>しようとしてくれた人もいました。</p>

<p><%=r '最後', 'さいご' %>は、作ったゲームをみんなで<%=r '紹介', 'しょうかい' %>し合ってから終わりました。</p>

<p><%=r '当日', 'とうじつ' %>のようすを<%=r '写真', 'しゃしん' %>でおつたえします。</p>

![](/files/blog/2014-10-25-coderdojo/20141025_072546680_iOS.jpg)

![](/files/blog/2014-10-25-coderdojo/20141025_072603959_iOS.jpg)

![](/files/blog/2014-10-25-coderdojo/20141025_072739283_iOS.jpg)

![](/files/blog/2014-10-25-coderdojo/20141025_072747919_iOS.jpg)

![](/files/blog/2014-10-25-coderdojo/20141025_072909395_iOS.jpg)

![](/files/blog/2014-10-25-coderdojo/20141025_073014559_iOS.jpg)

![](/files/blog/2014-10-25-coderdojo/20141025_073144267_iOS.jpg)

![](/files/blog/2014-10-25-coderdojo/20141025_073235190_iOS.jpg)

- - -

<p>コーダー<%=r '道場', 'どうじょう' %>は小中学生のためのプログラミング<%=r '道場', 'どうじょう' %>です。2011年にアイルランドで始まり、2014年7月<%=r '現在', 'げんざい' %>では47カ国・450<%=r '拠点', 'きょてん' %>で<%=r '開催', 'かいさい' %>されています。</p>

<p>コーダー<%=r '道場', 'どうじょう' %><%=r '松江', 'まつえ' %>では、みんながやりたい・作りたいと思ったことをわたしたち<%=r 'Ruby', 'ルビー' %>プログラミング<%=r '少年団', 'しょうねんだん' %>がサポートします。</p>

- - -

<h2>みんなも<%=r '体験', 'たいけん' %> してみませんか？</h2>

<p><%=r '最後', 'さいご' %>まで<%=r '文章', 'ぶんしょう' %>を<%=r '読', 'よ' %>んでくれてありがとう！コーダー<%=r '道場', 'どうじょう' %><%=r '松江', 'まつえ' %>の<%=r '様子', 'ようす' %>がわかったかな♪</p>

どうだった？おもしろそうかな？？？

<p>もし、「おもしろそうだな～」って思ったなら、きみもコーダー<%=r '道場', 'どうじょう' %><%=r '松江', 'まつえ' %>に<%=r '参加', 'さんか' %>してみませんか？お父さんやお母さんに<%=r '相談', 'そうだん' %>して、 <a href="http://smalruby.jp">http://smalruby.jp</a> から<%=r '申', 'もう' %>し<%=r '込', 'こ' %>んでみよう！</p>

きみと会えるのを楽しみにしてます。それじゃあね～♪

- - -

<h2><%=r '謝辞', 'しゃじ' %></h2>

<p>キーボードを使うことが<%=r '難', 'むず' %>しかったり、<%=r '英語', 'えいご' %>がまだわからない子どもたちでもプログラミングができるようにするためのソフトウェア：スモウルビーは、<%=r 'Ruby', 'ルビー' %>アソシエーションに<%=r '助', 'たす' %>けてもらって作りました。</p>

<p><%=r '会場', 'かいじょう' %>の<%=r '松江', 'まつえ' %>オープンソースラボは、 <a href="http://ja.wikipedia.org/wiki/%E3%82%AA%E3%83%BC%E3%83%97%E3%83%B3%E3%82%BD%E3%83%BC%E3%82%B9">オープンソースソフトウェア</a>に<%=r '関', 'かん' %>する<%=r '会議', 'かいぎ' %>や<%=r '打合', 'うちあわ' %>せや<%=r '研修', 'けんしゅう' %>の場として、<%=r '松江市', 'まつえし' %>が<%=r '無料', 'むりょう' %>で<%=r '開放', 'かいほう' %>しています。</p>

<p><%=r 'Ruby', 'ルビー' %>アソシエーション、<%=r '松江市', 'まつえし' %>、ありがとうございました m(_ _)m</p>

 * [Rubyアソシエーション](http://www.ruby.or.jp/ja/)
 * [松江オープンソースラボ](http://www1.city.matsue.shimane.jp/sangyoushinkou/ruby/rubycity/rabo/open.html)
 * [CoderDojo Japan](http://coderdojo.jp/)
