---
title: ９月２１日（日）に一日Rubyプログラミング体験 in 松江（八雲公民館）を開催しました♪
date: 2014-09-21
tags: event
---

<p>みなさんこんにちは、<%=r 'Ruby', 'ルビー' %>プログラミング<%=r '少年団', 'しょうねんだん' %>の<%=r '高尾', 'たかお' %>です。</p>

<p>９月２１日（日）に５回目となる一日Rubyプログラミング<%=r '体験', 'たいけん' %> <%=r 'in', 'イン' %> <%=r '松江', 'まつえ' %> を <%=r '八雲公民館', 'やくもこうみんかん' %>でやりました。</p>

[http://smalruby.doorkeeper.jp/events/13575](http://smalruby.doorkeeper.jp/events/13575)

READMORE

<p><%=r '今回', 'こんかい' %>は子どもが２人、大人が３人の<%=r '合計', 'ごうけい' %>５人が<%=r '参加', 'さんか' %>してくれました。<%=r '参加', 'さんか' %>されたお子さんが<%=r '少', 'すく' %>なかった<%=r '分', 'ぶん' %>、<%=r '進', 'すす' %>みが<%=r '早', 'はや' %>くて、いつもよりもいろいろなプログラムを<%=r '作', 'つく' %>ってもらえたんじゃないかな。</p>

<p><%=r '参加', 'さんか' %>したお子さんからは、</p>

<ul>
  <li>お<%=r '兄', 'にい'%>ちゃんもスモウルビーを<%=r '体験', 'たいけん' %>していたので、お<%=r '兄', 'にい' %>ちゃんにプログラミングがどのようなものか<%=r '説明', 'せつめい' %>をしてもらったけど、よくわからなかったので<%=r '来', 'き' %>ました（<%=r '笑', 'わらい' %>）やってみるとよくわかって（プログラミングが）<%=r '楽', 'たの' %>しかったです。</li>
  <li>お<%=r '父', 'とう' %>さんがこのイベントに<%=r '参加', 'さんか' %><%=r '申', 'もう' %>し<%=r '込', 'こ' %>みをしたので、<%=r '最初', 'さいしょ' %>はあまり<%=r '乗', 'の' %>り<%=r '気', 'き' %>ではなかったけど、やってみると<%=r '面白', 'おもしろ' %>かったです。</li>
</ul>

<p>といった<%=r '感想', 'かんそう' %>をいただきました。ありがとう！</p>

<p>これをきっかけにして、コンピュータとかプログラミングに<%=r '興味', 'きょうみ' %>を<%=r '持', 'も' %>ってくれたり、それらがそんなに<%=r '特殊', 'とくしゅ' %>なものではないという<%=r '感覚', 'かんかく' %>を<%=r '持', 'も' %>ってもらえると<%=r '幸', 'さいわ' %>いです。</p>

<p>それと、<%=r '後', 'のち' %>ほど<%=r '詳', 'くわ' %>しいことをみなさんにもお<%=r '知', 'し' %>らせしますが、10/25(<%=r '土', 'ど' %>)から、<%=r '本格的', 'ほんかくてき' %>にRubyプログラミング<%=r '少年団', 'しょうねんだん' %>の<%=r '活動', 'かつどう' %>を<%=r '開始', 'かいし' %>する<%=r '予定', 'よてい' %>です。ご<%=r '期待', 'きたい' %>ください！</p>

- - -

<p>この<%=r '体験', 'たいけん' %>イベントは、<%=r '毎回', 'まいかい' %> <%=r '同', 'おな' %>じものです。<%=r '詳', 'くわ' %>しい<%=r '内容', 'ないよう' %>は <a href="/blog/2014/05/18/trial.html">５月１８日のレポート＜クリックすると<%=r '確認', 'かくにん' %>できます＞</a> をみてくださいね♪</p>

- - -

<h2>みんなも<%=r '体験', 'たいけん' %> してみませんか？</h2>

<p><%=r '最後', 'さいご' %>まで<%=r '文章', 'ぶんしょう' %>を<%=r '読', 'よ' %>んでくれてありがとう！一日プログラミング<%=r '体験', 'たいけん' %>の<%=r '様子', 'ようす' %>がわかったかな♪</p>

どうだった？おもしろそうかな？？？

<p>もし、「おもしろそうだな～」って思ったなら、きみも一日プログラミング<%=r '体験', 'たいけん' %>に<%=r '参加', 'さんか' %>してみませんか？毎月第３日曜日（しまね<%=r '家庭', 'かてい' %>の日）に行っています。お父さんやお母さんに<%=r '相談', 'そうだん' %>して、 <a href="http://smalruby.jp">http://smalruby.jp</a> から<%=r '申', 'もう' %>し<%=r '込', 'こ' %>んでみよう！</p>

きみと会えるのを楽しみにしてます。それじゃあね～♪

- - -

<h2><%=r '謝辞', 'しゃじ' %></h2>

<p>一日Rubyプログラミング<%=r '体験', 'たいけん' %> <%=r 'in', 'イン' %> <%=r '松江', 'まつえ' %> で使っているコンピュータ：ラズベリーパイは、<%=r 'PEG', 'ペグ' %>という<%=r '団体', 'だんたい' %>からプレゼントしてもらいました。</p>

<p>キーボードを使うことが<%=r '難', 'むず' %>しかったり、<%=r '英語', 'えいご' %>がまだわからない子どもたちでもプログラミングができるようにするためのソフトウェア：スモウルビーは、<%=r 'Ruby', 'ルビー' %>アソシエーションに<%=r '助', 'たす' %>けてもらって作りました。</p>

<p><%=r '会場', 'かいじょう' %>は<%=r '島根県松江市', 'しまねけんまつえし' %> の <%=r '八雲公民館', 'やくもこうみんかん' %> に <%=r '提供', 'ていきょう' %>していただきました。</p>

<p><%=r 'PEG', 'ペグ' %>、<%=r 'Ruby', 'ルビー' %>アソシエーション、<%=r '八雲公民館', 'やくもこうみんかん' %>、ありがとうございました m(_ _)m</p>

 * [PEG](http://pegpeg.jp/)
 * [Rubyアソシエーション](http://www.ruby.or.jp/ja/)
 * [八雲公民館（やくもこうみんかん）](http://matsue-city-kouminkan.jp/yakumo/)