---
title: ８月１７日（日）に一日Rubyプログラミング体験 in 松江（朝日公民館）を開催しました♪
date: 2014-08-17
tags: event
---

<p>みなさんこんにちは、<%=r 'Ruby', 'ルビー' %>プログラミング<%=r '少年団', 'しょうねんだん' %>の<%=r '高尾', 'たかお' %>です。</p>

<p>８月１７日（日）に４回目となる一日Rubyプログラミング<%=r '体験', 'たいけん' %> <%=r 'in', 'イン' %> <%=r '松江', 'まつえ' %> を <%=r '朝日公民館', 'あさひこうみんかん' %>でやりました。</p>

<p><%=r '今回', 'こんかい' %>は子どもが６人、大人が６人の<%=r '合計', 'ごうけい' %>１２人が<%=r '参加', 'さんか' %>してくれました。<%=r '参加', 'さんか' %>してくれたみなさん、ありがとうございました！</p>

<p><%=r '当日', 'とうじつ' %>の<%=r '様子', 'ようす' %>を<%=r '写真', 'しゃしん' %>でお<%=r '伝', 'つた' %>えします。</p>

- - -

<p>はじめのお <%=r '話', 'はなし' %>です。今日の<%=r '司会', 'しかい' %>は<%=r '高尾', 'たかお' %>さん、<%=r '先生', 'せんせい' %>は<%=r '本多', 'ほんだ' %>さんです。</p>

![](/files/blog/2014-08-17-trial/IMG_1535.JPG)

<p>いつものコンピュータ <%=r 'Raspberry Pi', 'ラズベリーパイ' %> にキーボード、マウス、ディスプレイをつなぎます。</p>

![](/files/blog/2014-08-17-trial/IMG_1549.JPG)

<p><%=r '先生', 'せんせい' %>のお <%=r '話', 'はなし' %>を<%=r '聞', 'き' %>きながら、<%=r '簡単', 'かんたん' %>なゲームを<%=r '作', 'つく' %>っていきます。</p>

![](/files/blog/2014-08-17-trial/IMG_1553.JPG)

![](/files/blog/2014-08-17-trial/IMG_1563.JPG)

![](/files/blog/2014-08-17-trial/IMG_1568.JPG)

![](/files/blog/2014-08-17-trial/IMG_1574.JPG)

![](/files/blog/2014-08-17-trial/IMG_1576.JPG)

![](/files/blog/2014-08-17-trial/IMG_1588.JPG)

![](/files/blog/2014-08-17-trial/IMG_1595.JPG)

![](/files/blog/2014-08-17-trial/IMG_1597.JPG)

<p><%=r '真剣', 'しんけん' %>な <%=r '表情', 'ひょうじょう' %></p>

![](/files/blog/2014-08-17-trial/IMG_1603.JPG)

![](/files/blog/2014-08-17-trial/IMG_1604.JPG)

![](/files/blog/2014-08-17-trial/IMG_1615.JPG)

<p>子どもと<%=r '一緒', 'いっしょ' %>に大人も<%=r '楽', 'たの' %>しみます♪</p>

![](/files/blog/2014-08-17-trial/IMG_1628.JPG)

![](/files/blog/2014-08-17-trial/IMG_1629.JPG)

![](/files/blog/2014-08-17-trial/IMG_1630.JPG)

![](/files/blog/2014-08-17-trial/IMG_1631.JPG)

ほかの人がつくったプログラムを見たりしながら、どんどんおもしろいゲームをつくります。

![](/files/blog/2014-08-17-trial/IMG_1636.JPG)

<p><%=r '名札', 'なふだ' %>をラミネータ<%=r '加工', 'かこう' %>して<%=r '体験', 'たいけん' %>イベントの<%=r '修了証', 'しゅうりょうしょう' %>をつくっておしまい！</p>

![](/files/blog/2014-08-17-trial/IMG_1640.JPG)

- - -

<p>この<%=r '体験', 'たいけん' %>イベントは、<%=r '毎回', 'まいかい' %> <%=r '同', 'おな' %>じものです。<%=r '詳', 'くわ' %>しい<%=r '内容', 'ないよう' %>は <a href="/blog/2014/05/18/trial.html">５月１８日のレポート＜クリックすると<%=r '確認', 'かくにん' %>できます＞</a> をみてくださいね♪</p>

- - -

<h2>みんなも<%=r '体験', 'たいけん' %> してみませんか？</h2>

<p><%=r '最後', 'さいご' %>まで<%=r '文章', 'ぶんしょう' %>を<%=r '読', 'よ' %>んでくれてありがとう！一日プログラミング<%=r '体験', 'たいけん' %>の<%=r '様子', 'ようす' %>がわかったかな♪</p>

どうだった？おもしろそうかな？？？

<p>もし、「おもしろそうだな～」って思ったなら、きみも一日プログラミング<%=r '体験', 'たいけん' %>に<%=r '参加', 'さんか' %>してみませんか？毎月第３日曜日（しまね<%=r '家庭', 'かてい' %>の日）に行っています。お父さんやお母さんに<%=r '相談', 'そうだん' %>して、 <a href="http://smalruby.jp">http://smalruby.jp</a> から<%=r '申', 'もう' %>し<%=r '込', 'こ' %>んでみよう！</p>

きみと会えるのを楽しみにしてます。それじゃあね～♪

- - -

<h2><%=r '謝辞', 'しゃじ' %></h2>

<p>一日Rubyプログラミング<%=r '体験', 'たいけん' %> <%=r 'in', 'イン' %> <%=r '松江', 'まつえ' %> で使っているコンピュータ：ラズベリーパイは、<%=r 'PEG', 'ペグ' %>という<%=r '団体', 'だんたい' %>からプレゼントしてもらいました。</p>

<p>キーボードを使うことが<%=r '難', 'むず' %>しかったり、<%=r '英語', 'えいご' %>がまだわからない子どもたちでもプログラミングができるようにするためのソフトウェア：スモウルビーは、<%=r 'Ruby', 'ルビー' %>アソシエーションに<%=r '助', 'たす' %>けてもらって作りました。</p>

<p><%=r '会場', 'かいじょう' %>は<%=r '島根県松江市', 'しまねけんまつえし' %> の <%=r '朝日公民館', 'あさひこうみんかん' %> に <%=r '提供', 'ていきょう' %>していただきました。</p>

<p><%=r 'PEG', 'ペグ' %>、<%=r 'Ruby', 'ルビー' %>アソシエーション、<%=r '朝日公民館', 'あさひこうみんかん' %>、ありがとうございました m(_ _)m</p>

 * [PEG](http://pegpeg.jp/)
 * [Rubyアソシエーション](http://www.ruby.or.jp/ja/)
 * [朝日公民館](http://matsue-city-kouminkan.jp/asahi/)
