---
title: １２月１３日（土）に一日Rubyプログラミング体験 in 松江（特別教室：さんびるアカデミー）を開催しました♪
date: 2014-12-13
tags: event, trial
og_image: /files/blog/2014-12-13-trial/IMG_4638.JPG
---

<p>みなさんこんにちは、<%=r 'Ruby', 'ルビー' %>プログラミング<%=r '少年団', 'しょうねんだん' %>の<%=r '高尾', 'たかお' %>です。</p>

<p>１２月１３日（土）に８回目となる一日Rubyプログラミング<%=r '体験', 'たいけん' %> <%=r 'in', 'イン' %> <%=r '松江', 'まつえ' %> をさんびるアカデミー（<%=r '松江市乃白町薬師前３番地３', 'まつえしのしらちょうやくしまえ３ばんち３' %>　<%=r 'さんさんビル２階', 'さんさんびる２かい' %>）さんでやりました。</p>

<p><%=r '今回', 'こんかい' %>はいつもと<%=r '違', 'ちが' %>って子どもだけで<%=r '参加', 'さんか' %>できる<%=r '特別教室', 'とくべつきょうしつ' %>で、１０人の子どもたちが<%=r '参加', 'さんか' %>してくれました。ありがとうございました。</p>

![](/files/blog/2014-12-13-trial/IMG_4638.JPG)

<p>このイベントで「プログラミングがとってもおもしろくかったよ」という人は、ぜひ<a href="http://coderdojo-matsue.doorkeeper.jp/">コーダー<%=r '道場', 'どうじょう' %> <%=r '松江', 'まつえ' %></a>にも<%=r '遊', 'あそ' %>びにきてくださいね♪</p>

READMORE

- - -

<p>それでは、<%=r '当日', 'とうじつ' %>のようすを<%=r '写真', 'しゃしん' %>でお<%=r '伝', 'つた' %>えしますね♪</p>

![](/files/blog/2014-12-13-trial/IMG_4624.JPG)

![](/files/blog/2014-12-13-trial/IMG_4625.JPG)

![](/files/blog/2014-12-13-trial/IMG_4626.JPG)

![](/files/blog/2014-12-13-trial/IMG_4627.JPG)

![](/files/blog/2014-12-13-trial/IMG_4628.JPG)

![](/files/blog/2014-12-13-trial/IMG_4631.JPG)

![](/files/blog/2014-12-13-trial/IMG_4632.JPG)

![](/files/blog/2014-12-13-trial/IMG_4633.JPG)

![](/files/blog/2014-12-13-trial/IMG_4634.JPG)

![](/files/blog/2014-12-13-trial/IMG_4635.JPG)

![](/files/blog/2014-12-13-trial/IMG_4636.JPG)

![](/files/blog/2014-12-13-trial/IMG_4638.JPG)

- - -

<p>この<%=r '体験', 'たいけん' %>イベントは、<%=r '毎回', 'まいかい' %> <%=r '同', 'おな' %>じものです。<%=r '詳', 'くわ' %>しい<%=r '内容', 'ないよう' %>は <a href="/blog/2014/05/18/trial.html">５月１８日のレポート＜クリックすると<%=r '確認', 'かくにん' %>できます＞</a> をみてくださいね♪</p>

- - -

<h2>みんなも<%=r '体験', 'たいけん' %> してみませんか？</h2>

<p><%=r '最後', 'さいご' %>まで<%=r '文章', 'ぶんしょう' %>を<%=r '読', 'よ' %>んでくれてありがとう！一日プログラミング<%=r '体験', 'たいけん' %>の<%=r '様子', 'ようす' %>がわかったかな♪</p>

どうだった？おもしろそうかな？？？

<p>もし、「おもしろそうだな～」って思ったなら、きみも一日プログラミング<%=r '体験', 'たいけん' %>に<%=r '参加', 'さんか' %>してみませんか？毎月第３日曜日（しまね<%=r '家庭', 'かてい' %>の日）に行っています。お父さんやお母さんに<%=r '相談', 'そうだん' %>して、 <a href="http://smalruby.jp">http://smalruby.jp</a> から<%=r '申', 'もう' %>し<%=r '込', 'こ' %>んでみよう！</p>

きみと会えるのを楽しみにしてます。それじゃあね～♪

- - -

<h2><%=r '謝辞', 'しゃじ' %></h2>

<p>一日Rubyプログラミング<%=r '体験', 'たいけん' %> <%=r 'in', 'イン' %> <%=r '松江', 'まつえ' %> で使っているコンピュータ：ラズベリーパイは、<%=r 'PEG', 'ペグ' %>という<%=r '団体', 'だんたい' %>からプレゼントしてもらいました。</p>

<p>キーボードを使うことが<%=r '難', 'むず' %>しかったり、<%=r '英語', 'えいご' %>がまだわからない子どもたちでもプログラミングができるようにするためのソフトウェア：スモウルビーは、<%=r 'Ruby', 'ルビー' %>アソシエーションに<%=r '助', 'たす' %>けてもらって作りました。</p>

<p><%=r '会場', 'かいじょう' %>はさんびるアカデミー（<%=r '松江市乃白町薬師前３番地３', 'まつえしのしらちょうやくしまえ３ばんち３' %>　<%=r 'さんさんビル２階', 'さんさんびる２かい' %>） に <%=r '提供', 'ていきょう' %>していただきました。</p>

<p><%=r 'PEG', 'ペグ' %>、<%=r 'Ruby', 'ルビー' %>アソシエーション、さんびるアカデミー、ありがとうございました m(_ _)m</p>

 * [PEG](http://pegpeg.jp/)
 * [Rubyアソシエーション](http://www.ruby.or.jp/ja/)
 * [さんびるアカデミー](http://www.sanbg.com/work/academy.html)