---
title: ７月２０日（日）に一日Rubyプログラミング体験 in 松江（松江市民活動センター）を開催しました♪
date: 2014-07-20
tags: event, trial, ProgShouTrial
og_image: /files/blog/2014-07-20-trial/IMG_1492.jpg
---

<p>みなさんこんにちは、<%=r 'Ruby', 'ルビー' %>プログラミング<%=r '少年団', 'しょうねんだん' %>の<%=r '高尾', 'たかお' %>です。</p>

<p>７月２０日（日）に３回目となる一日Rubyプログラミング<%=r '体験', 'たいけん' %> <%=r 'in', 'イン' %> <%=r '松江', 'まつえ' %> を <%=r '松江市民活動', 'まつえしみんかつどう' %>センターでやりました。</p>

![](/files/blog/2014-07-20-trial/IMG_1492.jpg)

<p><%=r '今回', 'こんかい' %>は子どもが４人、大人が４人の<%=r '合計', 'ごうけい' %>８人が<%=r '参加', 'さんか' %>してくれました。<%=r '参加', 'さんか' %>してくれたみなさん、ありがとうございました！</p>

READMORE

- - -

<p><%=r '当日', 'とうじつ' %>の<%=r '様子', 'ようす' %>を<%=r '写真', 'しゃしん' %>でお<%=r '伝', 'つた' %>えします。</p>

<p>いつものコンピュータ、<%=r 'Raspberry Pi', 'ラズベリーパイ' %>。</p>

![](/files/blog/2014-07-20-trial/IMG_1434.jpg)

<p><%=r '受付', 'うけつけ' %>。<%=r '教科書', 'きょうかしょ' %>ができました♪</p>

![](/files/blog/2014-07-20-trial/IMG_1435.jpg)

<p>来た人から<%=r '順番', 'じゅんばん' %>にコンピュータをつなぎます。</p>

![](/files/blog/2014-07-20-trial/IMG_1436.jpg)

はじまりました。

![](/files/blog/2014-07-20-trial/IMG_1442.jpg)

![](/files/blog/2014-07-20-trial/IMG_1444.jpg)

![](/files/blog/2014-07-20-trial/IMG_1449.jpg)

![](/files/blog/2014-07-20-trial/IMG_1475.jpg)

![](/files/blog/2014-07-20-trial/IMG_1476.jpg)

![](/files/blog/2014-07-20-trial/IMG_1489.jpg)

![](/files/blog/2014-07-20-trial/IMG_1492.jpg)

![](/files/blog/2014-07-20-trial/IMG_1507.jpg)

<p><%=r '最後', 'さいご' %>に今日の<%=r '感想', 'かんそう' %>を<%=r '発表', 'はっぴょう' %>しておしまいです。</p>

![](/files/blog/2014-07-20-trial/IMG_1529.jpg)

![](/files/blog/2014-07-20-trial/IMG_1530.jpg)

![](/files/blog/2014-07-20-trial/IMG_1532.jpg)

- - -

<p>この<%=r '体験', 'たいけん' %>イベントは、<%=r '毎回', 'まいかい' %> <%=r '同', 'おな' %>じものです。<%=r '詳', 'くわ' %>しい<%=r '内容', 'ないよう' %>は <a href="/blog/2014/05/18/trial.html">５月１８日のレポート＜クリックすると<%=r '確認', 'かくにん' %>できます＞</a> をみてくださいね♪</p>

- - -

<h2>みんなも<%=r '体験', 'たいけん' %> してみませんか？</h2>

<p><%=r '最後', 'さいご' %>まで<%=r '文章', 'ぶんしょう' %>を<%=r '読', 'よ' %>んでくれてありがとう！一日プログラミング<%=r '体験', 'たいけん' %>の<%=r '様子', 'ようす' %>がわかったかな♪</p>

どうだった？おもしろそうかな？？？

<p>もし、「おもしろそうだな～」って思ったなら、きみも一日プログラミング<%=r '体験', 'たいけん' %>に<%=r '参加', 'さんか' %>してみませんか？毎月第３日曜日（しまね<%=r '家庭', 'かてい' %>の日）に行っています。お父さんやお母さんに<%=r '相談', 'そうだん' %>して、 <a href="http://smalruby.jp">http://smalruby.jp</a> から<%=r '申', 'もう' %>し<%=r '込', 'こ' %>んでみよう！</p>

きみと会えるのを楽しみにしてます。それじゃあね～♪

- - -

<h2><%=r '謝辞', 'しゃじ' %></h2>

<p>一日Rubyプログラミング<%=r '体験', 'たいけん' %> <%=r 'in', 'イン' %> <%=r '松江', 'まつえ' %> で使っているコンピュータ：ラズベリーパイは、<%=r 'PEG', 'ペグ' %>という<%=r '団体', 'だんたい' %>からプレゼントしてもらいました。</p>

<p>キーボードを使うことが<%=r '難', 'むず' %>しかったり、<%=r '英語', 'えいご' %>がまだわからない子どもたちでもプログラミングができるようにするためのソフトウェア：スモウルビーは、<%=r 'Ruby', 'ルビー' %>アソシエーションに<%=r '助', 'たす' %>けてもらって作りました。</p>

<p><%=r '会場', 'かいじょう' %>は<%=r '島根県松江市', 'しまねけんまつえし' %>の <%=r '松江市民活動', 'まつえしみんかつどう' %>センターに<%=r '提供', 'ていきょう' %>していただきました。</p>

<p><%=r 'PEG', 'ペグ' %>、<%=r 'Ruby', 'ルビー' %>アソシエーション、<%=r '松江市民活動', 'まつえしみんかつどう' %>センター、ありがとうございました m(_ _)m</p>

 * [PEG](http://pegpeg.jp/)
 * [Rubyアソシエーション](http://www.ruby.or.jp/ja/)
 * [松江市民活動センター](http://www.minkatsu-ringring.net/)
