---
title: １１月１６日（日）に一日Rubyプログラミング体験 in 松江（城北公民館）を開催しました♪
date: 2014-11-16
tags: event
---

<p>みなさんこんにちは、<%=r 'Ruby', 'ルビー' %>プログラミング<%=r '少年団', 'しょうねんだん' %>の<%=r '高尾', 'たかお' %>です。</p>

<p>１１月１６日（日）に７回目となる一日Rubyプログラミング<%=r '体験', 'たいけん' %> <%=r 'in', 'イン' %> <%=r '松江', 'まつえ' %> を <%=r '城北公民館', 'じょうほくこうみんかん' %>でやりました。<%=r '今回', 'こんかい' %>は子どもが１１人、大人が１１人の<%=r '合計', 'ごうけい' %>２２人が<%=r '参加', 'さんか' %>してくれました。ありがとうございました。</p>

[http://smalruby.doorkeeper.jp/events/15799](http://smalruby.doorkeeper.jp/events/15799)

![](/files/blog/2014-11-16-trial/IMG_2098-2.jpg)

<p>このイベントで「プログラミングがとってもおもしろくかったよ」という人は、ぜひ<a href="http://coderdojo-matsue.doorkeeper.jp/">コーダー<%=r '道場', 'どうじょう' %> <%=r '松江', 'まつえ' %></a>にも<%=r '遊', 'あそ' %>びにきてくださいね♪</p>

READMORE

- - -

<p>それでは、<%=r '当日', 'とうじつ' %>のようすを<%=r '写真', 'しゃしん' %>でお<%=r '伝', 'つた' %>えしますね♪</p>

<p><%=r '本多', 'ほんだ' %>さん（<%=r '先生', 'せんせい' %>）の<%=r '説明', 'せつめい' %>を<%=r '聞', 'き' %>いてから、ブロックの<%=r '組', 'く' %>み<%=r '合', 'あ' %>わせでプログラムを<%=r '作', 'つく' %>っていきます。このイベントのポイントは<%=r '親子', 'おやこ' %>で<%=r '一緒', 'いっしょ' %>に<%=r '取', 'と' %>り<%=r '組', 'く' %>むことですね。プログラミングは<%=r '初', 'はじ' %>めてでもいつも<%=r '一緒', 'いっしょ' %>にいる<%=r '家族', 'かぞく' %>とだったら<%=r '楽', 'たの' %>しんで<%=r '学', 'まな' %>べます！</p>

![](/files/blog/2014-11-16-trial/IMG_2074-2.jpg)

![](/files/blog/2014-11-16-trial/IMG_2076-2.jpg)

![](/files/blog/2014-11-16-trial/IMG_2080-2.jpg)

![](/files/blog/2014-11-16-trial/IMG_2082-2.jpg)

![](/files/blog/2014-11-16-trial/IMG_2083-2.jpg)

![](/files/blog/2014-11-16-trial/IMG_2085-2.jpg)

![](/files/blog/2014-11-16-trial/IMG_2086-2.jpg)

<p>子どもたちは<%=r '本多', 'ほんだ' %>さんも<%=r '驚', 'おどろ' %>くようなおもしろい<%=r '発見', 'はっけん' %>をしてくれます。<%=r '私', 'わたし' %>たち<%=r '先生', 'せんせい' %>も、<%=r '毎回', 'まいかい' %>どんな<%=r '発見', 'はっけん' %>をしてくれるか<%=r '楽', 'たの' %>しみです。</p>

![](/files/blog/2014-11-16-trial/IMG_2087-2.jpg)

<p>みんな、<%=r '真剣', 'しんけん' %>に<%=r '取', 'と' %>り<%=r '組', 'く' %>んでいます。</p>

![](/files/blog/2014-11-16-trial/IMG_2088-2.jpg)

<p>みんなで<%=r '集', 'あつ' %>まって<%=r '本多', 'ほんだ' %>さんの<%=r '話', 'はなし' %>を<%=r '聞', 'き' %>きながら、<%=r '約', 'やく' %>1<%=r '時間', 'じかん' %>45分で<%=r '簡単', 'かんたん' %>なゲームを<%=r '作', 'つく' %>り<%=r '上', 'あ' %>げます！</p>

![](/files/blog/2014-11-16-trial/IMG_2091-2.jpg)

<p><%=r '最後', 'さいご' %>は、みんなに<%=r '今日', 'きょう' %>の<%=r '感想', 'かんそう' %>を<%=r '発表', 'はっぴょう' %>してもらいました。<%=r '今回', 'こんかい' %>もみなさんの<%=r '笑顔', 'えがお' %>をたくさん<%=r '見', 'み' %>ることができました♪</p>

![](/files/blog/2014-11-16-trial/IMG_2095-2.jpg)

![](/files/blog/2014-11-16-trial/IMG_2096-2.jpg)

![](/files/blog/2014-11-16-trial/IMG_2097-2.jpg)

![](/files/blog/2014-11-16-trial/IMG_2098-2.jpg)

![](/files/blog/2014-11-16-trial/IMG_2099-2.jpg)

![](/files/blog/2014-11-16-trial/IMG_2100-2.jpg)

- - -

<p>この<%=r '体験', 'たいけん' %>イベントは、<%=r '毎回', 'まいかい' %> <%=r '同', 'おな' %>じものです。<%=r '詳', 'くわ' %>しい<%=r '内容', 'ないよう' %>は <a href="/blog/2014/05/18/trial.html">５月１８日のレポート＜クリックすると<%=r '確認', 'かくにん' %>できます＞</a> をみてくださいね♪</p>

- - -

<h2>みんなも<%=r '体験', 'たいけん' %> してみませんか？</h2>

<p><%=r '最後', 'さいご' %>まで<%=r '文章', 'ぶんしょう' %>を<%=r '読', 'よ' %>んでくれてありがとう！一日プログラミング<%=r '体験', 'たいけん' %>の<%=r '様子', 'ようす' %>がわかったかな♪</p>

どうだった？おもしろそうかな？？？

<p>もし、「おもしろそうだな～」って思ったなら、きみも一日プログラミング<%=r '体験', 'たいけん' %>に<%=r '参加', 'さんか' %>してみませんか？毎月第３日曜日（しまね<%=r '家庭', 'かてい' %>の日）に行っています。お父さんやお母さんに<%=r '相談', 'そうだん' %>して、 <a href="http://smalruby.jp">http://smalruby.jp</a> から<%=r '申', 'もう' %>し<%=r '込', 'こ' %>んでみよう！</p>

きみと会えるのを楽しみにしてます。それじゃあね～♪

- - -

<h2><%=r '謝辞', 'しゃじ' %></h2>

<p>一日Rubyプログラミング<%=r '体験', 'たいけん' %> <%=r 'in', 'イン' %> <%=r '松江', 'まつえ' %> で使っているコンピュータ：ラズベリーパイは、<%=r 'PEG', 'ペグ' %>という<%=r '団体', 'だんたい' %>からプレゼントしてもらいました。</p>

<p>キーボードを使うことが<%=r '難', 'むず' %>しかったり、<%=r '英語', 'えいご' %>がまだわからない子どもたちでもプログラミングができるようにするためのソフトウェア：スモウルビーは、<%=r 'Ruby', 'ルビー' %>アソシエーションに<%=r '助', 'たす' %>けてもらって作りました。</p>

<p><%=r '会場', 'かいじょう' %>は<%=r '島根県松江市', 'しまねけんまつえし' %> の <%=r '城北公民館', 'じょうほくこうみんかん' %> に <%=r '提供', 'ていきょう' %>していただきました。</p>

<p><%=r 'PEG', 'ペグ' %>、<%=r 'Ruby', 'ルビー' %>アソシエーション、<%=r '城北公民館', 'じょうほくこうみんかん' %>、ありがとうございました m(_ _)m</p>

 * [PEG](http://pegpeg.jp/)
 * [Rubyアソシエーション](http://www.ruby.or.jp/ja/)
 * [城北公民館](http://matsue-city-kouminkan.jp/jyohoku/)