<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title><%= page_title %></title>
  <meta name="description" content="<%= page_description %>">
  <meta name="keywords" content="Ruby,Smalruby,スモウルビー,ProgShouDojo,プログラミング道場,松江,まつえ,Matsue,島根,しまね,Shimane,Rubyプログラミング少年団,Rubyプロ少,プロ少,プログラミング,プログラミング体験,ProgShouTrial,ProgShou" />
  <meta property="og:image" content="<%= current_article.try(:data).try(:og_image) ||'http://smalruby.jp/images/logo.png' %>" />
  <meta property="og:title" content="<%= page_title %>" />
  <meta property="og:url" content="<%= current_article.try(:url) || '/blog/' %>" />
  <meta property="og:site_name" content="NPO法人Rubyプログラミング少年団" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="<%= current_article ? strip_tags(current_article.summary(250)) : page_description %>" />
  <meta content='ja_jp' property='og:locale'>
  <!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
  <script src="/js/jquery.min.js"></script>
  <script src="/js/jquery.poptrox.min.js"></script>
  <script src="/js/skel.min.js"></script>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/default.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/layzr.js/1.4.3/layzr.min.js"></script>
  <script src="/js/init.js"></script>
  <% if current_page.path == 'index.html' %>
  <script src="/js/init_top.js"></script>
  <% end %>
  <noscript>
    <link rel="stylesheet" href="/css/skel-noscript.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </noscript>
  <!--[if lte IE 8]><link rel="stylesheet" href="/css/ie/v8.css" /><![endif]-->
  <link rel="stylesheet" href="/css/main.css" />
</head>
