<!-- Intro -->
<section id="intro" class="main style1 dark fullscreen">
  <div class="content container small">
    <header>
      <h2><%= ruby('Ｒｕｂｙ', 'ルビー') %>プログラミング<%=ruby('少年団', 'しょうねんだん') %></h2>
    </header>

    <p>
      「<%= ruby('Ｒｕｂｙ', 'ルビー') %>」は、私たち人間がコンピュータにやってほしいことを<%= ruby('表現', 'ひょうげん') %>するための<%= ruby('言葉', 'ことば') %>です。「<%= ruby('Ｒｕｂｙ', 'ルビー') %>プログラミング<%= ruby('少年団', 'しょうねんだん') %>」は、その「<%= ruby('Ｒｕｂｙ', 'ルビー') %>」を使って、<%= ruby('青少年', 'せいしょうねん') %>がプログラムを作るよろこびを<%= ruby('体験', 'たいけん') %>するために<%= ruby('活動', 'かつどう') %>しています。
    </p>

    <footer>
      <a href="#one" class="button style2 down">More</a>
    </footer>
  </div>
</section>

<!-- One -->
<section id="one" class="main style2 right dark fullscreen">
  <div class="content box style2">
    <header>
      <h2><%= ruby('体験', 'たいけん') %>イベント</h2>
    </header>

    <p>
      <%= ruby('簡単', 'かんたん') %>なゲームを作りながらプログラミングを<%= ruby('体験', 'たいけん') %>できます。<%=r '島根県松江市', 'しまねけんまつえし'%>で<%=r '毎月', 'まいつき' %>第３日曜日に<%=r '行', 'おこな' %>っており、これまでに<%= num_trialers %>人が<%= ruby('体験', 'たいけん') %>しています。<%=r '参加', 'さんか' %>したい人は下のボタンを<%=r '押', 'お' %>してください。
      <a style="color: black;" href="/blog/2014/05/18/trial.html" target="_blank">（<%= ruby('体験', 'たいけん') %>イベントの<%= ruby('様子', 'ようす') %>）</a>
    </p>

    <p>
      <a class="button" href="http://one-day-ruby-trial.doorkeeper.jp/" target="_blank"><%=r '申込', 'もうしこみ' %>サイト</a>
    </p>

  </div>
  <a href="#two" class="button style2 down anchored">Next</a>
</section>

<!-- Two -->
<section id="two" class="main style2 left dark fullscreen">
  <div class="content box style2">
    <header>
      <h2>プログラミング<%=r '道場', 'どうじょう' %></h2>
      <h3>ProgShouDojo</h3>
    </header>

    <p>
     プログラミングを<%=r '体験', 'たいけん' %>した<%=r '子', 'こ' %>どもたちがステップアップするための<%=r '無料', 'むりょう' %>のプログラミング<%=r '教室', 'きょうしつ' %>です。<%=r '毎月', 'まいつき' %><%=r '一回', 'いっかい' %><%=r '開催', 'かいさい' %>しています。<%=r '参加', 'さんか' %>したい人は下のボタンを<%=r '押', 'お' %>してください。<a style="color: black;" href="/blog/tags/progshoudojo.html" target="_blank">（イベントの<%= ruby('様子', 'ようす') %>）</a>
    </p>

    <p>
      <a class="button" href="https://github.com/smalruby/smalruby.jp/wiki/%E9%81%93%E5%A0%B4%E3%81%AE%E3%83%95%E3%82%A9%E3%83%BC%E3%83%A0" target="_blank"><%=r '申込', 'もうしこみ' %>サイト</a>
    </p>
  </div>
  <a href="#three" class="button style2 down anchored">Next</a>
</section>

<!-- Three -->
<section id="three" class="main style2 right dark fullscreen">
  <div class="content box style2">
    <header>
      <h2>スモウルビー・スモウルボット</h2>
      <h3>Smalruby & Smalrubot</h3>
    </header>

    <p>
      小学生でも<%= ruby('Ｒｕｂｙ', 'ルビー') %>を使ってプログラムやロボットを作れるようにしたものがスモウルビー（Smalruby）とスモウルボット（Smalrubot）です！どちらも<%= ruby('私', 'わたし') %>たちが作っています。
    </p>

    <p>
      <a class="button" href="http://smalruby.herokuapp.com" target="_blank"><%= ruby('試', 'ため') %>す</a>
      <a class="button" href="https://github.com/smalruby/smalruby-installer-for-windows/wiki" target="_blank">インストール</a>
      <a class="button" href="/blog/tags/smalrubot_v3.html">スモウルボット</a>
    </p>
  </div>
  <a href="#work" class="button style2 down anchored">Next</a>
</section>

<!-- Work -->
<section id="work" class="main style3 primary">
  <div class="content container">
    <header>
      <h2><%= ruby('Ruby', 'ルビー') %>プログラミング<%= ruby('少年団', 'しょうねんだん') %></h2>

      <p>
        <%= ruby('Ruby', 'ルビー') %>プログラミング<%= ruby('少年団', 'しょうねんだん') %>は、
        「一人でも多くの<%= ruby('青少年', 'せいしょうねん') %>にプログラミングの<%= ruby('喜', 'よろこ') %>びを！」
        「プログラミングを通じて<%= ruby('青少年', 'せいしょうねん') %>とネット社会との<%= ruby('関', 'かか') %>わり方を考える<%= ruby('組織', 'そしき') %>を<%= ruby('地域社会', 'ちいきしゃかい') %>の中に！」
        を<%= ruby('掲', 'かか') %>げて<%= ruby('活動', 'かつどう') %>している<%= ruby('青少年', 'せいしょうねん') %>のための<%= ruby('任意団体', 'にんいだんたい') %>です。<%= ruby('将来', 'しょうらい') %>は、スポーツ<%= ruby('少年団', 'しょうねんだん') %>のようなものを作りたいと考えています。
      </p>

      <iframe src="https://www.google.com/calendar/embed?title=Ruby%E3%83%97%E3%83%AD%E5%B0%91%E3%81%AE%E3%82%B9%E3%82%B1%E3%82%B8%E3%83%A5%E3%83%BC%E3%83%AB&amp;mode=AGENDA&amp;height=400&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=c2pev4rjf0nvbs656q8u7vvsu4%40group.calendar.google.com&amp;color=%23853104&amp;ctz=Asia%2FTokyo" style=" border-width:0 " width="800" height="400" frameborder="0" scrolling="no"></iframe>
    </header>

    <div class="box container small">
      <p>
        <img src="/images/logo.png" style="max-width: 500px;">
        <br>
        Rubyプログラミング少年団の公式ロゴ
      </p>
      <p>
        <img src="/images/hatti.png" style="max-width: 300px;">
        <br>
        はっち：Ｒｕｂｙプログラミング<%= ruby('少年団', 'しょうねんだん') %>とスモウルビーのイメージキャラクター（※1）
      </p>
      <table class="default">
        <tbody>
          <tr>
            <th>
              団体名
            </th>
            <td>
              Ｒｕｂｙプログラミング少年団(英名:Ruby Programming Shounendan)
              <br>
              旧：スモウルビー(英名:Smalruby)
            </td>
          </tr>

          <tr>
            <th>
              主な活動場所
            </th>
            <td>
              島根県松江市
            </td>
          </tr>
          <tr>
            <th>
              代表
            </th>
            <td>
              高尾宏治（たかおこうじ）／島根県松江市八雲町
            </td>
          </tr>
          <tr>
            <th>
              連絡先
            </th>
            <td>
              <a href="mailto:contact@smalruby.jp">
                contact at smalruby dot jp
              </a>
            </td>
          </tr>
          <tr>
            <th>
              理念
            </th>
            <td>
              小学3年生以上の子どもたちがプログラミングを学ぶための
              <ul class="default">
                <li>
                  教材の開発
                </li>
                <li>
                  ワークショップの運営
                </li>
                <li>
                  ノウハウの提供
                </li>
              </ul>
              を行い、プログラミングを学びたい子どもたちにとって最適な環境を提供する
            </td>
          </tr>
          <tr>
            <th>
              主な活動
            </th>
            <td>
              <ul class="default">
                <li>
                  Scratch(初心者が最初に正しい構文の書き方を覚えること無く結果を得られるプログラミング言語学習環境)のRuby実装であるSmalrubyの開発
                </li>
                <li>
                  Smalrubyを利用した作品を共有するウェブサイトの開発・運営
                </li>
                <li>
                  Smalrubyを利用したプログラミング学習塾の運営
                </li>
                <li>
                  プログラミング学習塾の運営ノウハウの提供
                </li>
              </ul>
            </td>
          </tr>
          <tr>
            <th>
              沿革
            </th>
            <td>
              <ul class="default">
                <li>
                  2014年4月1日 - 活動開始
                </li>
                <li>
                  2014年5月18日 - 「一日Rubyプログラミング体験 in 松江」開始
                </li>
                <li>
                  2014年6月1日 - 団体名をスモウルビー（英名:Smalruby）からRubyプログラミング少年団(英名:Ruby Programming Shounendan)に変更
                </li>
                <li>
                  2014年6月26日 - 設立総会 (<a target="_blank" href="https://gitprint.com/smalruby/smalruby-doc/blob/master/ruby_programming_shounendan/setsuritsu_soukai_gijiroku.md">議事録</a>・<a target="_blank" href="https://gitprint.com/smalruby/smalruby-doc/blob/master/ruby_programming_shounendan/setsuritsu_syushisyo.md">設立趣旨書</a>・<a target="_blank" href="https://gitprint.com/smalruby/smalruby-doc/blob/master/ruby_programming_shounendan/articles.md">定款</a>)
                </li>
                <li>
                  2014年10月25日 - 「コーダー道場 松江： CoderDojo Matsue 」開始
                </li>
                <li>
                  2015年2月8日 - 「コーダー道場 松江： CoderDojo Matsue 」を「プログラミング道場： ProgShouDojo」に名前を変更
                </li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>

      <p>
        <small>
          ※1：Ｒｕｂｙプログラミング少年団とスモウルビー：Smalrubyのイメージキャラクターのライセンスは「Copyright © Hikari Arakawa (Ruby Programming Shounendan and Smalruby) 2013。このイメージキャラクター、もしくはその派生版は、Ｒｕｂｙプログラミング少年団とスモウルビー：Smalrubyに関連する文脈で誰でも自由に利用できるが、それらは荒川ひかりによる保証を示すものではない。」です。
        </small>
      </p>
    </div>
  </div>
</section>

<!-- Contact -->
<section id="contact" class="main style3 secondary">
  <div class="content container">
    <header>
      <h2>お問い合わせ</h2>

      <p>
        プログラミング少年団の活動に関する、質問や要望、自分たちの地域でもプログラミング体験教室を開催してほしい、プログラミングに関する講演依頼などなど、メール < contact at smalruby dot jp > で気軽にお問い合わせください(迷惑メール防止のため、@ を at、 . を dot に置き換えています)。
      </p>
    </header>

    <div class="box container small">
      <p class="left">
        メールアドレスを登録いただきますと、毎月一回程度、プログラミング少年団の活動に関する情報（主にイベントの案内や開催レポート）を送ります。登録いただいたメールアドレスはプログラミング少年団の活動に関する情報の送付以外には使用いたしませんので、ご安心ください。(送信元のメールアドレスは info at smalruby dot jp ですので、このアドレスからのメールを受信できるように設定していただきますよう、よろしくお願いします)
      </p>

      <p class="left" style="font-size: 0.8em;">
        ※メールの配信には、Google グループ（ <a href="http://groups.google.com/group/progshou_info" target="_blank">http://groups.google.com/group/progshou_info</a>）の機能を利用しております。
      </p>

      <form action="http://groups.google.com/group/progshou_info/boxsubscribe">
        <input type="text" name="email" style="display: inline-block; width: 75%">
        <input type="submit" name="sub" value="登録" class="button">
      </form>
    </div>
  </div>
</section>
